
body {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
 
li:hover {
  background-color: lightblue;
  text-decoration: underline;
}

h3 {
  color: white;
}

.forecast {
  font-size: 1rem;
}

span {
  font-size: 1rem;
}

